.catalog{
    width: 1650px;

    margin:0 auto;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

    color: #232323;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .line{
    width: 280px;
    height: 8px;

    background-color: #FE8C01;
    border-radius: 50px;

    margin-top:12px;
}


.filter{
    width: 100%;

    margin-top:60px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.type_block{
    --size: 250px;

    width: var(--size);
    height: var(--size);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #232323;

    background-color: #E9F8FB;
    border-radius: 16px;

    cursor:pointer;

    border:none;
}
.type_block:hover{
    background-color: #FE8C01;
    color:#fff;
}
.type_block.active{
    background-color: #FE8C01;
}
.type_name{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.type_name.active{
    color:#fff;
}


.products{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}
.product{
    width: 390px;
    height: 390px;
    margin-top: 30px;
}
.product img {
    width: 390px;
    height: 390px;
}

.more{
    width: 289px;
    height: 64px;

    margin-top:60px;
    margin-bottom:40px;

    background: #E9F8FB;
    border-radius: 100px;

    outline:none;
    border:none;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #232323;
}

.prod_description{
    position:relative;
    bottom:180px;
    left:30px;

    font-family: 'Montserrat Alternates';
    font-style: normal;

    color: #FFFFFF;
}
.prod_description h1{
    font-size: 24px;
    line-height: 29px;
    font-weight: 800;
}
.prod_description h2{
    font-size: 16px;
    line-height: 14px;
    font-weight: 600;

    margin-top:8px;
}
.prod_description h3{
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;

    margin-top:10px;
}

.prod_buy_button{
    outline: none;
    background-color: transparent;
    border:none;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;

    margin-top:25px;
    margin-left:26px;
    cursor:pointer;
}
.prod_buy_button:hover{
    transform: scale(1.02);
}